<div>
  <div class="row text-center top8p">
    <div class="col-lg-3">
      <div class="card">
        <i class="fa fa-database fa-6x card-fa"></i>
        <div class="card-body">
          <h5 class="card-title">Datasets (20)</h5>
          <p class="card-text">
            Dataset is a collection of data organized according to a defined schema in an CSV format. Datasets can be uploaded from file system, HDFS or Sorba Analytics.
          </p>
          <a routerLink = "/datasets" class="btn btn-primary">Go Datsets</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <i class="fa fa-cube fa-6x card-fa"></i>
        <div class="card-body">
          <h5 class="card-title">Projects (20)</h5>
          <p class="card-text">
            Project is a logical grouping of machine learning analyses, which are performed on a dataset. To analyze multiple datasets, you need to create multiple projects.
          </p>
          <a routerLink = "/projects" class="btn btn-primary">Go Projects</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <i class="fa fa-heartbeat fa-6x card-fa"></i>
        <div class="card-body">
          <h5 class="card-title">Anomalies (43)</h5>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          </p>
          <a routerLink = "/work-items" class="btn btn-primary">Go Anomalies</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <i class="fa fa-magic fa-6x card-fa"></i>
        <div class="card-body">
          <h5 class="card-title">Predictions (18)</h5>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          </p>
          <a routerLink = "/predictions" class="btn btn-primary">Go predictions</a>
        </div>
      </div>
    </div>
  </div>
</div>