<div class="text-center">
  <div class="side-menu-item"   [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="link-activate">
    <a title="Dataset" routerLink = "/">
      <i class="fas fa-home fa-2x fa-inverse"></i>
    </a>
  </div>
  <div class="side-menu-item"  routerLinkActive="link-activate">
    <a title="Dataset" routerLink = "/datasets">
      <i class="fas fa-database fa-2x fa-inverse"></i>
    </a>
  </div>
  <div class="side-menu-item" routerLinkActive="link-activate">
    <a title="Project" routerLink = "/projects"><i class="fas fa-cube fa-2x fa-inverse"></i></a>  
  </div>
  <div class="side-menu-item" routerLinkActive="link-activate">
    <a title="Work Item" routerLink = "/work-items"><i class="fas fa-heartbeat fa-2x fa-inverse"></i></a>
  </div>
  <div class="side-menu-item" routerLinkActive="link-activate">
    <a title="Predictions" routerLink = "/predictions"><i class="fas fa-magic fa-2x fa-inverse"></i></a>
  </div>
</div>

