.cursor {
    cursor: pointer;
}
.ml-sidebar {
    background-color: #333;
    width: 70px !important;
    min-height: 900px;
}
#main {
    width: calc(100% - 70px);
}
/* margin */
.top60 {
    margin-top: 60px;
}
.top100 {
    margin-top: 100px;
}